<div class="deal-column col-6 col-md-3">
  <div class="card shadow-sm"
       id="deal-<%= deal.id %>"
       data-controller="deal"
       data-deal-id="<%= deal.id %>"
       data-action="click->deal#expandDetails"
       style="position: relative;">

    <div class="image-wrapper" style="position: relative;">
      <% unless deal.product.image_url == "No image" || deal.product.image_url.blank? %>
        <%= image_tag deal.product.image_url, class: "card-img-top" %>
      <% end %>

      <div class="fav-icon-container">
        <% if current_user && current_user.favourites.exists?(product_id: deal.product.id) %>
          <% fav = current_user.favourites.find_by(product_id: deal.product.id) %>
          <%= button_to favourite_path(fav), method: :delete, remote: true, class: "fav-btn btn", data: { turbo_stream: true } do %>
            <i class="fa-solid fa-star"></i>
          <% end %>
        <% else %>
          <%= button_to favourites_path(product_id: deal.product.id), method: :post, remote: true, class: "fav-btn btn", data: { turbo_stream: true } do %>
            <i class="fa-regular fa-star"></i>
          <% end %>
        <% end %>
      </div>
    </div>

    <div class="card-body">
      <p class="card-text">
        <% if deal.discounted_price.present? %>
          <del class="text-muted">€<%= deal.price %></del>
          <span class="discounted-price-text ml-1 font-weight-bold">€<%= deal.discounted_price %></span>
        <% else %>
          <span class="text-dark font-weight-bold"><%= deal.price %></span>
        <% end %>
      </p>
      <% if deal.deal_type.present? %>
        <p class="deal-type-text font-weight-bold mb-0"><%= deal.deal_type %></p>
      <% end %>
    </div>
  </div>
</div>
