<h1 class="dashboard-title">
  Welcome,
  <span><%= current_user.name %></span>
</h1>


<div class="dashboard-grid">
  <%= link_to favourites_path, class: "dashboard-card" do %>
    <i class="fa fa-star" aria-hidden="true"></i>
    <span> My Favourites</span>
  <% end %>

  <%= link_to dashboard_path, class: "dashboard-card" do %>
    <i class="fa fa-coins" aria-hidden="true"></i>
    <span> My Savings</span>
  <% end %>

  <%= link_to dashboard_path, class: "dashboard-card" do %>
    <i class="fa fa-comment-dots" aria-hidden="true"></i>
    <span> Leave Feedback</span>
  <% end %>

  <%= link_to dashboard_path, class: "dashboard-card" do %>
    <i class="fa fa-cog" aria-hidden="true"></i>
    <span> Settings</span>
  <% end %>

  <%= link_to dashboard_path, class: "dashboard-card" do %>
    <i class="fa fa-envelope" aria-hidden="true"></i>
    <span> Contact Us</span>
  <% end %>

  <%= link_to destroy_user_session_path, method: :delete, data: { turbo_method: :delete }, class: "dashboard-card logout-btn" do %>
    <i class="fa-solid fa-right-from-bracket"></i>
    <span> Log Out</span>
  <% end %>



</div>
