<div class="card-body expanded-content" data-related-deals-target="expandedContent">
  <div class="product-frame">
    <div class="product-image-card" id="deal-<%= deal.id %>">
      <% if deal.product.image_url.present? %>
        <%= image_tag deal.product.image_url, class: "card-img-top" %>
      <% end %>
      <div class="deal-prices">
        <p class="text-muted">€<%= deal.price %></p>
        <p class="discounted-price-text font-weight-bold">€<%= deal.discounted_price %></p>
      </div>
    </div>
    <div class="product-info">
      <div class="details">
        <h5 class="product-name"><%= deal.product.name %></h5>
        <p class="expiry-date">Exp.: <%= deal.expiry_date.strftime("%d/%m/%Y") %></p>
        <% if deal.deal_type.present? %>
          <p class="deal-type-text font-weight-bold mb-0"><%= deal.deal_type %></p>
        <% end %>
        <p class="category-text text-muted mb-0">
          <%= deal.category || " " %>
        </p>
        <%= image_tag deal.store.logo_url, class: "choosen_store_id" %>
      </div>
      <div class="d-flex align-items-center gap-2 mt-2">
        <%= button_to "Add To List", shopping_lists_path(deal_id: deal.id), method: :post, class: "btn  btn-sm add-to-list", data: { action: "click->deal#preventExpand" } %>
        <% if current_user && current_user.favourites.exists?(product_id: deal.product.id) %>
          <% fav = current_user.favourites.find_by(product_id: deal.product.id) %>
          <%= button_to favourite_path(fav), method: :delete, remote: true, class: "fav-btn btn p-0", data: { turbo_stream: true } do %>
            <i class="fa-solid fa-star"></i>
          <% end %>
        <% else %>
          <%= button_to favourites_path(product_id: deal.product.id), method: :post, remote: true, class: "fav-btn btn p-0", data: { turbo_stream: true } do %>
            <i class="fa-regular fa-star"></i>
          <% end %>
        <% end %>
      </div>
    </div>
  </div>

  <h6 class="mt-3 mb-2">Also available at:</h6>
  <div class="other-stores d-flex flex-wrap gap-2">
    <% related_deals.each do |related_deal| %>
      <div class="small-store-card" style="position: relative;" data-action="click->deal#swapWithRelated"
        data-deal-id="<%= related_deal.id %>">
        <%= image_tag related_deal.store.logo_url, class: "store-logo-small" %>
        <p class="store-price text-center mt-1 mb-0">
          €<%= related_deal.discounted_price || related_deal.price %>
        </p>
      </div>
    <% end %>
  </div>
</div>
