<div class="expanded-content">
  <h5 class="product-name"><%= deal.product.name %></h5>
  <%= image_tag deal.store.logo_url, class: "choosen_store_id", style:"height: 50px; width: 50px;" %>

  <div class="top-section">

    <div class="details">
      <p class="expiry-date">Exp.: <%= deal.expiry_date.strftime("%d/%m/%Y") %></p>
      <p class="deal-price">
        <del class="text-muted">€<%= deal.price %></del>
        <span class="discounted-price-text font-weight-bold">€<%= deal.discounted_price %></span>
      </p>
    </div>

    <%= button_to "Add To List", shopping_lists_path(deal_id: deal.id), method: :post, class: "btn btn-warning btn-sm add-to-list", data: { action: "click->deal#preventExpand" } %>
  </div>

  <div class="other-stores">
    <% related_deals.each do |related_deal| %>
      <div class="small-store-card">
        <%= image_tag related_deal.store.logo_url, class: "store-logo-small" %>
        <p class="store-price font-weight-bold">
          €<%= related_deal.discounted_price || related_deal.price %>
        </p>
      </div>
    <% end %>
  </div>
</div>
